:root{--h1-color:#4053E1 ;
--h1-text-shadow:-1px -1px var(--h1-main-text-stroke),
        1px -1px var(--h1-main-text-stroke),
        -1px 1px var(--h1-main-text-stroke),
        1px 1px var(--h1-main-text-stroke);
    --h1-main-text-stroke: #D2D6FE;
    --h1-accent-color:#FFFEAC;
    --h1-text-stroke:#FFB028;
--h1-accent-shadow:-1px -1px var(--h1-text-stroke),
    1px -1px var(--h1-text-stroke),
    -1px 1px var(--h1-text-stroke),
    1px 1px var(--h1-text-stroke);
    --primary-bg-color:#7C8BFF;
--secondary-bg-color:#9AA4F4;
--tertiary-bg-color:#4053E1;
--paragraph-color:#454545;
--button-stroke:#7080FE;
--button-bg:#4C61FF;
--button-text:#FFFFFF;
--font-bold:"Lexend Deca",
    serif;
    font-weight: 800
}


@media (max-width: 700px) {
h1 {font-size: 28px;}
h2{font-size: 22px;}
h3{font-size: 18px;}
img{display: none;}
body{text-align:center}
}




h1{font-family:  "Lexend Deca", serif;
   color: var(--h1-color);
   -webkit-text-stroke-color:var(--h1-main-text-stroke);
-webkit-text-fill-color:var(--h1-color);
text-shadow:var(--h1-text-shadow);
   font-weight: 800;
   font-size: 40px;
}

h2{font-family: "Lexend Deca",serif;
font-weight: 600;
font-size: 30px;
color: white;}

h3{color: var(--h1-color);
font-family: var(--font-bold);
font-weight: 600;}

.welcome-block{background-color: #7C8BFF;
    text-align: center;
    min-height: 60vh;
    justify-items: center;
        align-content: center;
     padding: 20px;
    
}

.primary-button{background-color: var(--button-bg);
    color:white;
    font-weight: 500;
    font-family:var(--font-bold) ;
    stroke:1px var(--button-stroke);
  margin-top:20px;
    min-width: min-content;
}

.primary-button:hover{background-color: white;
color: var(--button-bg);
}

.primary-button:active{background-color:var(--h1-color);
border:1px var(--button-stroke);
color: var(--secondary-bg-color);}

.bold-font{font-family: var(--font-bold);
font-weight: var(--font-bold);}

.badge{background-color: var(--h1-color);
padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
padding-bottom: 4px;
margin-top:2px}

.title{display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

p{color:var(--paragraph-color);
font-weight:400 ;}

.subtitle{color:var(--button-stroke);}