:root{--h1-color:#4053E1 ;
--h1-text-shadow:-1px -1px var(--h1-main-text-stroke),
        1px -1px var(--h1-main-text-stroke),
        -1px 1px var(--h1-main-text-stroke),
        1px 1px var(--h1-main-text-stroke);
    --h1-main-text-stroke: #D2D6FE;
    --h1-accent-color:#FFFEAC;
    --h1-text-stroke:#FFB028;
--h1-accent-shadow:-1px -1px var(--h1-text-stroke),
    1px -1px var(--h1-text-stroke),
    -1px 1px var(--h1-text-stroke),
    1px 1px var(--h1-text-stroke);
--h2-text-stroke:#9AA4F4;
    --h2-accent-shadow: -1px -1px var(--h2-text-stroke),
            1px -1px var(--h2-text-stroke),
            -1px 1px var(--h2-text-stroke),
            1px 1px var(--h2-text-stroke);
    --primary-bg-color:#7C8BFF;
--secondary-bg-color:#9AA4F4;
--tertiary-bg-color:#4053E1;
--paragraph-color:#454545;
--button-stroke:#7080FE;
--button-bg:#4C61FF;
--button-text:#FFFFFF;
--font-bold:"Lexend Deca",
    serif;
    font-weight: 800;
    --alternative-border-color:#FFFDFD;
}


@media (max-width: 700px) {
h1 {font-size: 28px;}
h2{font-size: 22px;}
h3{font-size: 18px;}
img{display: none;}
body{text-align:center}
.project-title{font-size: 22px;}
}




h1{font-family:  "Lexend Deca", serif;
   color: var(--h1-color);
   -webkit-text-stroke-color:var(--h1-main-text-stroke);
-webkit-text-fill-color:var(--h1-color);
text-shadow:var(--h1-text-shadow);
   font-weight: 800;
   font-size: 40px;

}

h2{font-family: "Lexend Deca",serif;
font-weight: 600;
font-size: 30px;
color: white;}

h3{color: var(--h1-color);
font-family: var(--font-bold);
font-weight: 600;}

.welcome-block{background-color: #7C8BFF;
    text-align: center;
    min-height: 60vh;
    justify-items: center;
        align-content: center;
     padding: 20px;
    
}
.secondary-button {
    color: #4C61FF;
    font-weight: 400;
    font-family: var(--font-bold);
    border: 1px solid #4C61FF;
}

.secondary-button:hover {
  color: white;
    background-color: var(--button-bg);
}

.primary-button{background-color: var(--button-bg);
    color:white;
    font-weight: 400;
    font-family:var(--font-bold) ;
    stroke:1px var(--button-stroke);
  margin-top:20px;
    min-width: 24vw;
    padding-left: 20px;
    padding-right: 20px;
  
    line-height: 32px;
}


.primary-button:hover{background-color: white;
color: var(--button-bg);
}

.primary-button:active{background-color:var(--h1-color);
border:1px var(--button-stroke);
color: var(--secondary-bg-color);}

.bold-font{font-family: var(--font-bold);
font-weight: var(--font-bold);}

.badge{background-color: var(--h1-color);
padding-left: 8px;
padding-right: 8px;
padding-top: 4px;
padding-bottom: 4px;
margin-top:2px}

.title{display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
}

p{color:var(--paragraph-color);
font-weight:400 ;}

.subtitle{color:var(--button-stroke);}

.list-item{border:none;
align-items: center;
justify-content: center;
}

.slider{
    font-family: var(--font-bold);
    color:white;
    font-size: 18px;
margin: 20px 0;
padding: 10px 0;
background-color: #7C8BFF;}


/* about me */

.dark-bg{background-color:var(--tertiary-bg-color)}

i{margin:0 18px;
color: var(--h1-color);}

.sub-title{color: var(--h1-main-text-stroke);
font-family: var(--font-bold);
font-size: 20px;}

.sub-title-2{color: white;
    font-family: var(--font-bold);
    font-size: 18px;
font-weight: 200;
line-height: 1.6rem;}

.alternative-h2{ 
    text-shadow: var(--h2-accent-shadow);}
.alternative-h1 {
    text-shadow: var(--h1-accent-shadow);
-webkit-text-fill-color: var(--h1-accent-color);
}

.profile-pic{
    display: block;
margin: 0 auto;
width:30vw;
align-self: center;
max-width: 36vw;}


.image-container{
   width: fit-content;
    opacity: 0.83;
    padding: 10px;
    margin: 20px auto;}


    .social-media{
        margin:30px 0;
    }
        

   
    .icon{font-size: 28px;
        width: 40px;
}

i{color: var(--button-text)}

/* projects */

.card{border:none}
.project-title{color: var(--button-bg);}
.project-images{margin:0;
border:2px solid #4053e168;
border-radius: 12px;}


.card img:hover{
border: 4px solid #fec563a1;}